footer{
    width: 100%;

    position: fixed;
    bottom: 0;

    border-top: 5px solid var(--white);
    border-left: 5px solid var(--white);

    background-color: var(--gray);

    padding: 8px 14px;
}