.projects {
    background-color: var(--gray);
    padding-bottom: 60px;
}

.project-list.has-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
}

.project-list.no-projects {
    display: block;
}

.project-list .project-item {
    display: flex;
    text-decoration: none;
    color: var(--black);

    .project-picture, .win-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        width: 100px;
    }

    .project-picture {
        img {
            width: 100px;
        }
    }

    .win-icon{
        img{
            width: 50px;
            padding-block: 25px;
        }
    }

    .project-about {
        width: 100%;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .project-contribution .helper {
            display: flex;
        }
    }
}


@media (width < 800px) {
    .project-list.has-projects {
        grid-template-columns: repeat(1, 1fr);
    }

    .project-list .project-item {
        padding: 10px 0;

        .project-picture, .win-icon {
            display: flex;
            align-items: center;
            width: 60px;
            img {
                width: 60px;
            }
        }
    }
}