.projects {
    background-color: var(--gray);
    padding-bottom: 60px;
}

.project-list.has-projects {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.project-list.no-projects {
    display: block;
}

.project-list .project-item {
    display: flex;
    text-decoration: none;
    color: var(--black);

    .project-picture {
        aspect-ratio: 1;
        img {
            width: 100px;
        }
    }

    .project-about {
        width: 100%;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .project-contribution .helper {
            display: flex;
        }
    }
}


@media (width < 800px) {

    .project-list .project-item {
        padding: 10px 0;

        .project-picture {
            display: flex;
            align-items: center;
            width: 60px;
            img {
                width: 60px;
            }
        }
    }
}